rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
   //Allow everybody to read products
    match /Products/{product} {
    	allow read
    }
    
  }
}
