

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write: if true
    }

    // function isAdminOrSuperAdmin() {
    //   let userRole = get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.userRole;
    //   return userRole == 'admin' || userRole == 'superAdmin' || userRole == 'driver' || userRole == 'delivery';
    // }

    // function isSuperAdmin() {
    //   let userRole = get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.userRole;
    //   return userRole == 'superAdmin';
    // }

    // match /Users/{userId} {
    //   allow write: if (request.auth != null && request.auth.uid == userId && "cart" in request.resource.data) || isAdminOrSuperAdmin()   
    //   allow read: if isAdminOrSuperAdmin() || (request.auth != null && request.auth.uid == userId);
    // }

    // match /Products/{productId}/{product=**} {
    //   allow read: if true
    //   allow create: if (isAdminOrSuperAdmin() || "clicks" in request.resource.data)
    //   allow update: if (isAdminOrSuperAdmin() || "clicks" in request.resource.data)
    //   allow delete: if isSuperAdmin();
    // }

    // match /Categories/{categoryId}/{category=**} {
    //   allow read: if true
    // }

    // match /ordersMessages/{referenceNumber} {
    //   allow read, write : if request.auth != null && request.auth.uid == resource.data.ownerUserId || isAdminOrSuperAdmin();
      
    // }

    // match /Payments/{orderReference} {
    //   allow read, write : if request.auth != null && isAdminOrSuperAdmin();
    // } 

    // match /PaymentProviders/{providers} {
    //   allow read: if true
    //   allow write : if request.auth != null && isAdminOrSuperAdmin();
    // }

    // match /Machines/{machine} {
    //   allow read: if true
    //   allow write : if request.auth != null && isAdminOrSuperAdmin();
    // } 

    // match /Analytics/{analytics} {
    //   allow read: if request.auth != null && isAdminOrSuperAdmin();
    // }
    // match /Affiliates/{affiliate} {
    //   allow read: if true
    //   allow write : if request.auth != null && isAdminOrSuperAdmin();
    // }
    // match /Security/{security} {
    //   allow read: if false
    //   allow write : if true
    // }
    // match /Orders/{order} {
    //   allow read: if request.auth != null && isAdminOrSuperAdmin() || request.auth.uid == resource.data.userId;
    //   allow write : if request.auth != null && isAdminOrSuperAdmin();
    // }

  }
}