body{
    background: linear-gradient(to right, #e1fadd, #cceac7, #d3eecf);
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar-thumb{
    background-color: #69b05c;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #B6E388;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    cursor: pointer;
}

@media (max-width: 600px) {
    ::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb{
        background-color: #69b05c;
    }
    
    ::-webkit-scrollbar-thumb:hover{
        background-color: #B6E388;
    }
}